* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: "Source Code Pro", sans-serif;
}

.header, .main, .footer {
    max-width: 648dvw;
}

/*Header*/

.header {
    padding-top: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.header__title {
    margin-bottom: 20px;
}

.header__lorem, .main__lorem--section-three {
    padding: 0 20px;
}

.header__container-img {
    margin-top: 20px;
}

.header__img {
    width: 100%;
    height: auto;
}

/*End Header*/

/*main*/

.main__title--h2 {
    text-align: center;
    margin: 30px 0;
}

.main__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main__select-input, .main__radio-input,
.main__text-input, .main__number-input,
.main__range-input, .main__input-checkbox  {
    width: 100%;
}

.main__text-input--name, .main__select, .main__number-input--number {
    padding: 10px;
    border: solid 2px black;
    width: 67%;
    margin-top: 10px;
}

/*range section*/

.main__range-container {
    position: relative;
    margin-top: 10px;
    width: 67%;
}

.input-range__range {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    pointer-events: none;
    border: none;
}

.input-range__range::-webkit-slider-thumb {
    pointer-events: auto;
}

.main__range-values {
    padding-top: 10px;
}

.input-range__input-number {
    width: 40%;
    border: solid 2px black;
    padding: 10px;
    margin: 0 10px 7px 0;
}

/*section select*/

.main__select-input {
    position: relative;
}

.main__select-arrow {
    position: absolute;
    top: 59%;
    right: 16%;
    color: #3A41FF;
    pointer-events: none;
    font-size: 0.8rem;
}

.main__select {
    width: 67%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #818181;
    display: inline;
    cursor: pointer;
}

.main__select:focus ~ .main__select-arrow {
    rotate: 200grad;
}

.main__select option {
    color: #818181;
}

/*End input select*/

/*Input Radio*/

.main__radio-title {
    margin-bottom: 10px;
}

/*End input radio*/